# VERİ TEMİZLEME

## KAYIP / EKSİK VERİ TESPİTİ
Veri çerçevemizde eksik veri (excel tablosundaki boş hücre gibi düşünebiliriz) olup olmadığını, varsa kaç adet olduğunu tespit edebileceğimiz Pandas yöntemleri mevcuttur. Bunları incelemeye başlayalım.

## isnull() Fonksiyonu

Veri çerçevemizde eksik verileri **isnull()** fonksiyonu ile tespit edebiliriz. **isnull** ifadesini, **boş mu?, geçersiz mi?, kayıp/eksik mi?** sorusu olarak düşünebilirsiniz.
Hemen inceleyelim bakalım, acaba **IMDB** listemizde eksik veri var mı? varsa hangi sütunda ne kadar eksik veri var?

In [1]:
import pandas as pd
imdb = pd.read_excel("Veri_Setleri/imdb.xlsx")
imdb.isnull()

     Film_Adı    Yıl   Puan  Oylayan_Kişi
0       False  False  False         False
1       False  False  False         False
2       False  False  False         False
3       False  False  False         False
4       False  False  False         False
..        ...    ...    ...           ...
242     False  False  False         False
243     False  False  False         False
244     False  False  False         False
245     False  False  False         False
246     False  False  False         False

[247 rows x 4 columns]

Görüldüğü üzere, bu fonksiyon, veri çerçevesindeki her hücreye, kayıp/eksik veri olup olmadığı verisini yazıyor. **False** Yanlış, yani Eksik/Kayıp veri **YOK**, **True** ise Doğru yan, Eksik/Kayıp veri **VAR** anlamına gelir.
Tabloya tek tek bakmak yerine, tüm sütunlardaki eksik/kayıp verileri python'a saydırıp, sonucu görüntüleyebiliriz.
Python'da aşina olduğumuz **sum()** fonksiyonu işimize yarayacaktır.

In [2]:
imdb.isnull().sum()

Film_Adı        0
Yıl             0
Puan            0
Oylayan_Kişi    0
dtype: int64

Gördüğümüz kadarıyla tüm sonuçlar sıfır, yani veri çerçevemizde hiç eksik/kayıp veri bulunmamaktadır.

İçerisinde Kayıp/Eksik veri olan bir **Calc** tablosunu, veri çerçevesine dönüştürerek inceleyelim.

In [8]:
veri = pd.read_excel("Veri_Setleri/eksik_veri.ods")
veri

,Film_Adı,Yıl,Puan,Oylayan_Kişi
0,The Shawshank Redemption,1994.0,"9,2",1071904.0
1,The Godfather,1972.0,"9,2",751381.0
2,The Godfather: Part II,1974.0,9,488889.0
3,Pulp Fiction,1994.0,"8,9",830504.0
4,The Dark Knight,2008.0,"8,9",1045186.0
5,12 Angry Men,1957.0,"8,9",NaN
6,Schindler's List,1993.0,"8,9",545703.0
7,The Lord of the Rings: The Return of the King,2003.0,"8,8",758388.0
8,Fight Club,1999.0,"8,8",814389.0
9,Star Wars: Episode V - The Empire Strikes Back,1980.0,"8,8",519895.0
10,The Lord of the Rings: The Fellowship of the R...,2001.0,"8,8",784999.0
11,One Flew Over the Cuckoo's Nest,1975.0,"8,7",447005.0
12,Goodfellas,1990.0,"8,7",465445.0
13,Seven Samurai,NaN,"8,7",161969.0
14,Inception,2010.0,"8,7",844938.0
15,Star Wars,1977.0,"8,7",NaN
16,Forrest Gump,1994.0,"8,7",711386.0
17,The Matrix,1999.0,"8,7",770559.0
18,The Lord of the Rings: The Two Towers,2002.0,"8,7",680983.0

**isnull().sum()** metodlarıyla, yeni veri çerçevemizdeki eksik verilerin bilgilerini görelim

In [9]:
veri.isnull().sum()

Film_Adı        0
Yıl             1
Puan            0
Oylayan_Kişi    2
dtype: int64

**Yıl** sütununda 1, **Oylayan_Kişi** sütununda 2 adet eksik veri olduğu görünüyor.